*{
margin: 0;
padding: 0;
}

body{
width: 100%;
height: 100%;
margin-left: 15px;
margin: 0 auto;
}

.menu-principal{
width: 100%;
background-color: white;
height: 90px;
}

main{
margin: 0 auto;
width: 980px;
position: relative;
}

.logo{
width: 78%;
margin-left: px;
float: left;
}

.redes-sociais ul li{
margin-right: 15px;
margin-top:10px;
display: inline-block;
float: left;
list-style: none;
}

.redes-sociais{
width: 20%;
float: right;
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
	*{
		margin: 0;
		padding: 0;
	}


.nav_tabs{
		width: 980px;
		height: 500px;
		margin: 10px auto;
		background-color: #fff;
		position: relative;
	}

.nav_tabs ul{
		list-style: none;
	}

	.nav_tabs ul li{
		float: left;
	}

	.tab_label{
		display: block;
		width: 195px;
		background-color: #191970;
		padding: 25px;
		font-size: 20px;
		color:#fff;
		cursor: pointer;
		text-align: center;
	}


	.nav_tabs .rd_tab { 
	display:none;
	position: absolute;
        
}

.nav_tabs .rd_tab:checked ~ label { 
background-color: #836FFF;}

.tab-content{
	border-top: solid 5px #836FFF;
	background-color: #fff;
	display: none;
	position: absolute;
	height: 500px;
	width: 980px;
	left: 0;
    overflow: scroll;
        
}

.rd_tab:checked ~ .tab-content{
	display: block;
}
.tab-content h2{
	padding: 10px;
	color: #836FFF;
}

.tab-content h4{
	padding: 10px;
	color: #836FFF;
}


.tab-content article{
	padding: 10px;
	color: #555;
    font-size: 19px;
}

.subtitulo{
font-size: 21px;
line-height: 35px
}

.periodo{
font-size: 50px;
}
